.header {
	font-family: Helvetica;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url('./pattern.jpeg');
}

#Brushes {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: mediumspringgreen;
}

#Frames {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: lightcoral;
}

#Paint {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: skyblue;
}

.price {
	font-family: Helvetica;
	font-weight: bold;
	color: blue;
}