body {
	font-family: Helvetica;
}

.header, .item, .price {
	font-weight: bold;
}

.header {
	font-size: 100px;
	color: khaki;
	text-align: center;
	background-image: url('./pattern.jpeg');
}

.item {
	font-size: 32px;
	color: white;
}

#Brushes {
	background-color: mediumspringgreen;
}

#Frames {
	background-color: lightcoral;
}

#Paint {
	background-color: skyblue;
}

.price {
	color: blue;
}