.header {
	display: flex;
	flex-direction: row;
	position: fixed;
	align-items: center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
}

.logo {
	color: MediumAquamarine;
	justify-content: flex-start;
	border-bottom: 1px solid black;
}

nav, li {
	display: inline;
	justify-content: flex-end;
	margin: auto;
	float: left;
}

.sidebar {
	display: flex;
	float: right;

}

.column{
	display: flex;
	flex-direction: column;
	column-count: 3;
	margin: right 30px;
	border: 1px solid black;
}

.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}

.article {
	border: 1px solid black;
}

.footer {
	border: 1px solid black;
	display: inline-flex;
	align-self: flex-end;
	justify-content: : center;
	width: 100%;
	margin: auto;
}