.header {
	display: flex;
	position: fixed;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
	width: 100%;
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	background-color: white;
}

.logo {
	display: flex;
	color: MediumAquamarine;
}

nav, li {
	display: inline;
	list-style: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.container, p {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}

.column {
	border: 1px solid black;
}

.large {
	width: 630px;
}

.large, h2 {
	background-image: url("./resources/img-story-main.png");
}

.medium {
	width: 300px;
}

.medium, h2 {
	background-image: url("./resources/img-story-1.png");
}

.small {
	width: 240px;
}

.footer {
	display: inline-flex;
	background-color: MediumAquamarine;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 325px;
	margin: auto;
  	font-family: Verdana;
  	font-size: 12px;
} 

.footer, h1 {
	font-family: Georgia;
  	font-size: 16px;
  	font-weight: bold;
  	color: white;
}