html {
	font-size: 18px;
}

body {
	line-height: 1.4; 
	font-family: Helvetica;
}

.header {
	display: flex;
 	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	background-color: cadetblue;
	font-size: 1rem;
	width: 960px;
	color: white;
}

#logo {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
	align-items: center;
}

.menu {
	display: none;
}
.topNav li {
	display: inline;
	padding: 1rem 2rem;
}

.mainHead {
	background-image: url('../resources/glasses-bg.png');
	height: 30rem;
	background-size: cover;
	background-repeat: no-repeat;
}

.spot {
	  /* <--- needs to go down a bit more */
	
}

#spot {
	margin-left: 30rem;
	margin-top: 30px;
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2
}

.spot span {
	padding: 1.5rem 5rem;
	width: 520px;
}

.container {
  	
}

.Services {
	display: flex;
    flex-wrap: wrap;
    align-items: baseline;  /* <--- have a better look on this one */
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.Services .item {
	padding: 3rem;
 	padding-bottom: 10px;
	margin: auto;
	width: 5rem;
	height: 8rem;
}

.Services .items img {
	width: 3.5rem; 
}

.furtherInfo {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.philosophy span {
	background-color: cadetblue;
	padding: 0.5rem 1.25rem;
	font-weight: bold;
	font-size: 1rem;
}

.appointments span {
	background-color: cadetblue;
	padding: 0.5rem 1.25rem;
	font-weight: bold;
	font-size: 1rem;	
}

.info {
	padding-top: 1rem;
	width: 35%;
}

.info p {
	padding-top: 1rem;
}

.footer {
	width: 960px;
	margin: auto;
	background-color: azure;
	display: flex;
	align-items: center;
}

#logoBottom {
	height: 1.5rem;
	padding: 4rem 1rem 4rem 4rem;
}

/* responsive css for tablet screen */
@media only screen and (max-width: 1024px) {
	.header .footer {
		width: 100%;
	}
	.header {
		position: fixed;
	}
	#spot {
		font-size: 1.33rem;
		padding: 0.75rem 4rem;
		margin-right: 2rem;
		margin-top: 5rem;
	}
	.mainHead {
		height: 22rem;
	}
}

/* responsive css for smartphone */
@media only screen and (max-width: 470px) {
	.header .footer {
		width: 100%;
	}
	.header {
		position: fixed;
	}
	.mainHead {
		height: 17rem;
		background-position: 20%;
	}
	#logo {
		display: inline;
	}
	.logo span, .topNav {
		display: none;
	}
	.menu {
		display: inline-flex;
	}
	.spot {
		text-align: center;
		font: 1rem;
		padding: 1rem auto;
	}
	.container {
		width: 20%;
		flex-direction: column;
		font-size: 0.77rem;
	}
}
